.productCard {
    max-width: 10rem;
    padding: 1.5rem;
    padding-bottom: 2rem;
    margin: 1.5rem;
    box-shadow: 1.5px 1.5px 4px rgba(0, 0, 0, 0.208);
}

.productCard > img {
    width: 100%;
    height: 250px;
    object-fit: contain;
}